<section class="main text-center">
<div class="info-container">
    <div class="book-pic"> Insert Book img from Api </div>
    <h1>Book title</h1>
        
    <h3>Book Description</h3>
    
    <p>Leave a Review</p>
    <input class="review-text" type="text" placeholder="Enter Your Review Here">
    <!-- 
        Add review to data base with their text input and the book they reviewed.
    -->
    <select class="list">
        <option value="wish-list">Add to Wish List</option>
        <option value="com-read">Add to Completed List</option>
        <option value="fav-list">Add to Favorites</option>
    </select>


</div>
</section>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="./js/results.js"></script>