  <section class="text-center" >
    <form action="">
      <h2>Create a Free Account to Use All of Our Features:</h2>
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="lname">User name:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="lname">Email:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="lname">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Sign Up">
    </form>
  </section>
  <section class="container justify-content-center">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides text-center">
          <li class="glide__slide" id="text">Save a List of Your Favorite Books!<br><img src="./book-images/lotr.jpeg" alt=""></li>
          <li class="glide__slide" id="text">Create a "Have Read" List!<br><img src="./book-images/eden.jpeg" alt=""></li>
          <li class="glide__slide" id="text">Make a List of Books You Want to Read!<br><img src="./book-images/fahrenheit.png" alt=""></li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </section>


  <!--Glide JS feature -->
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script>
    new Glide('.glide').mount()
  </script>

  <script src="./js/firstpage.js"></script>